@use "./variables/variables";

.services {
  padding: 5em 0em 20em;
  background-image: url(../img/Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;

  &__title {
    font-size: 3.5rem !important;
    color: $color-white;
    font-weight: 800;
    font-family: $font-primary;
    margin-bottom: 1rem !important;
    letter-spacing: 1px;
  }

  &__desc {
    color: $color-white;
    font-family: $font-secondary;
    margin: auto !important;
    max-width: 100%;
  }

  .all-card {
    width: 95%;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card {
    color: $color-black;
    transition: 500ms;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      cursor: pointer;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem !important;
      font-family: $font-secondary !important;
    }

    &__text {
      font-size: 14px;
      font-weight: 500;
      font-family: $font-secondary !important;
    }
  }
}

/* Media query */
@media (min-width: 768px) and (max-width: 1024px) {
  .services {
    .card {
      &__title {
        font-size: 1rem;
      }
      &__text {
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .services {
    padding: 5em 0em;

    .all-card {
      position: static;
      width: auto;
      transform: unset;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .services {
    &__title {
      font-size: 2rem !important;
    }

    &__subtitle {
      font-size: 1rem;
    }
  }
}
