// font-family
$font-primary: "Viga", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// colors
$color-primary : #d73038;
$color-secondary : #e2204d;
$color-white: #fff;
$color-black: #000;
$color-best: #6e0714;
$color-yellow: #f6af19;

